#contact {
  padding: 50px 15px;
  text-align: center;
  border-bottom: 1px solid #dcd9d9;
}

.cite {
  font-size: x-large;
  font-style: italic;
}

.contact-form {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background: url(../img/contact.png);
  background-size: cover;
  padding: 15px;
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
}
