// Iphone X support
body {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

html body {
  font-family: 'Titillium Web', sans-serif;
}

* {
  position: relative;
}

b,
strong {
  font-weight: 700;
}

p {
  margin-bottom: 0;
}


// Bootstrap Material Hacks
a.btn.btn-primary.btn-rounded {
  border-radius: 50px;
}

// Animation for the rotating header
.rotating-headline-container {
  margin-left: 10%;
  text-align: left;
}

// Avatar
.avatar-small {
  border-radius: 50px;
  border: 1px solid indigo;
}

// Header options
.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;
}

.heading:after {
  position: absolute;
  content: '';
  top: 100%;
  height: 1px;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgb(137, 50, 199);
}

// background
.background-alt {
  background-color: rgb(245, 242, 247);
}

.text-align-left {
  text-align: left;
}


// headlines

