#experience {
  padding: 50px 15px;
  text-align: center;
  border-bottom: 1px solid #dcd9d9;
}

.experience-item {
  position: relative;
  text-align: left;
}

.experience-item.first:before {
  top: 13px;
}

.experience-info {
  position: relative;
}

.card-body .date {
  font-size: 90%;
  color: lightgray;
  margin-bottom: 10px;
}

.experience-item .experience-info .meta {
  color: black;
  margin-top: 10px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.side-card.first {
  border-right: 5px solid indigo;
  height: 97%;
  position: absolute;
  bottom: -20px;
  right: -17px;
  z-index: 999;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
}

.event::before {
  left: -177.5px;
  color: #212121;
  content: attr(data-date);
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  min-width: 120px;
  position: absolute;
}

.marker {
  width: 30px;
  height: 30px;
  position: absolute;
  background: #fff;
  border: 2px solid indigo;
  border-radius: 50px;
  z-index: 999;
  color: indigo;
  text-align: center;
  left: -15px;
}

.marker svg {
  padding-top: 5px;
  transform: scale(1.2, 1.2);
}

.role {
  font-size: 20px;
  color: rgba(54, 119, 149, 0.8);
}
