#landing-page {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background: url(../img/lead.jpg);
  background-size: cover;
  padding: 15px;
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
}

#landing-page-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#landing-page-content h1 {
  color: #fff;
  font-weight: 900;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.9em;
}

#landing-page-content h2 {
  color: #a0cfee;
  font-weight: 500;
  font-size: 2.25em;
  margin-bottom: 15px;
}

#landing-page-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 198, 243, 0.6);
  z-index: 1;
}

#landing-page-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 15px;
  color: #fff;
}

#landing-page-down span {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #a0cfee;
  text-align: center;
}

#landing-page-down svg {
  animation: pulsate 1.5s ease-in-out;
  animation-iteration-count: infinite;
  padding-top: 5px;
  font-size: 25px;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1.0;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: 0.5;
    transform: scale(1, 1);
  }
}
