#landing-page {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background: url(../img/lead.jpg);
  background-size: cover;
  padding: 15px;
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
}

#landing-page-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#landing-page-content h1 {
  color: #fff;
  font-weight: 900;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.9em;
}

#landing-page-content h2 {
  color: #a0cfee;
  font-weight: 500;
  font-size: 2.25em;
  margin-bottom: 15px;
  vertical-align: top;
}

#landing-page-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(25, 129, 177, 0.7);
  z-index: 1;
}

#landing-page-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 15px;
  color: #fff;
}

#landing-page-down span {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #a0cfee;
  text-align: center;
}

#landing-page-down svg {
  animation: pulsate 1.5s ease-in-out;
  animation-iteration-count: infinite;
  padding-top: 5px;
  font-size: 25px;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1.0;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: 0.5;
    transform: scale(1, 1);
  }
}

// Rotating words for the h2 in the landing

.word {
  position: absolute;
  width: 320px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


// Media Queries for landing page
@media only screen and (max-width: 992px) {}
